.filter {
    width: 20%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 1%;
}

.filter-dropdown {
    height: 100%;
}
.dropdown-button {
    display: grid;
    border: none;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-around; */
    width: 80px;
    height: 100%;
}

.chosen-status {
    /* background-color: aqua; */
    filter: brightness(50%);
}

.filter-state {
    position: fixed;
    justify-self: flex-start;
}

.arrow-filter {
    color: #333;
    position: fixed;
    justify-self: flex-end;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    border: none;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content-hide {
    display: none;
}

.dropdown-content-show {
    display: block;
}

.dropdown-item {
    background-color: inherit;
    border: none;
    width: 100%;
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f1f1f1
}