.ContainerList {
    background-color: #e7e6e6;
    width: 80%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-bottom: 3%;
}

.SearchList {
    width: 20%;
    height: 15px;
    margin: 1%;
}

.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 1%;
}
