.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* --inner-color: rgb(65, 65, 65); */
  --inner-color: #767171;
}

body {
  direction: rtl;
  margin: auto;
}

.new-task-button {
  position: absolute;
  left: 3%;
  bottom: 5%;
}

/* .arrow-down {
  height: 0;
  width: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 14px solid;
} */

/* .arrow-up {
  height: 0;
  width: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 14px solid;
} */