.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* --inner-color: rgb(65, 65, 65); */
  --inner-color: #767171;
}

body {
  direction: rtl;
  margin: auto;
}

.new-task-button {
  position: absolute;
  left: 3%;
  bottom: 5%;
}