.task {
    display: flex;
    flex-direction: row;
    background-color: var(--inner-color);
    color: white;
    margin: 1%;
    width: 70%;
    font-size: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    --icons-opacity: 0;
}

.task:hover {
    --icons-opacity: 1;
}


.task-start {
    display: flex;
    flex-direction: row;
    width: 150px;
    gap: 10px;
    align-items: center;
    margin-right: 1%;
}

.arrow-down-task {
    margin: 1%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 16px solid white;
}

.arrow-up-task {
    margin: 1%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid white;
}

.expend-button {
    background-color: inherit;
    border: none;
}

.task-status {
    background-color: black;
    position: absolute;
    left: 30%;
    text-align: center;
    width: 80px;
}

.task-icons {
    position: relative;
    left: 1%;
    display: flex;
    gap: 10px;
    opacity: var(--icons-opacity);
}
