.modal-children { 
    /* TODO: use media query */
    font-size: 25px;
    gap: 4vh;
}

.property-container {
    display: flex;
    width: 135px;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 5%;
    gap: 8px;
}


.title {
    font-size: 50px;
    font-family: Aduma
}